VITE_SUPABASE_URL=https://dxlqnlznhmeslzbxibhn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4bHFubHpuaG1lc2x6YnhpYmhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NzA4NjcsImV4cCI6MjA5NzE0Njg2N30.d92lEao5J3HqgaAY36NmbwToR9LKLU-Lj2eA4CiU15Y
VITE_APP_NAME=Comunidadescort.cl
VITE_APP_URL=http://localhost:5173
